<app-header></app-header>
<hr>

<h1 class="card-title">Записи пользователя</h1>

<table class="table table-striped" id="job">
  <thead>
      <tr>
          <td><input type="button" value="Добавить" class="btn btn-danger" (click)="addRecord()" /></td>
          <td style="align-content: right; width: 35%"><input class="form-control mr-sm-2" [(ngModel)]="searchText" type="search" placeholder="Поиск" aria-label="Поиск" style="margin-right: auto" /></td>
      </tr>
  </thead>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <td>Идентификатор записи</td>
            <td>Временная метка записи</td>
            <td>Содержание</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records | filter:'description': searchText">
            <ng-template [ngTemplateOutlet]="loadTemplate(record)"
                        [ngTemplateOutletContext]="{ $implicit: record}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
<app-footer></app-footer>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-record>
    <td>{{record.id}}</td>
    <!--<td>{{record.dateTime | date: 'dd.MM.yyyy HH:mm:ss'}}</td> -->
    <td>{{currentDatetimeToString(record.dateTime)}}</td>
    <td>{{record.description}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-success" (click)="editRecord(record)" />
    </td>
    <td>
        <input type="button" value="Удалить" class="btn btn-danger" (click)="deleteRecord(record)" />
    </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input type="number" [(ngModel)]="editedRecord.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" value="{{editedRecord.dateTime | date: 'dd.MM.yyyy HH:mm:ss'}}" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRecord.description" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveRecord()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>
